<template>
<div>

<h2 id="title">나의 클럽</h2>

 <sui-search>
    <template v-slot:input="{ props, handlers }">
      <sui-input id="searchbar"
        v-bind="props"
        v-on="handlers"
        v-model="searchValue"
        placeholder="Search club name..."
        icon="search"
        @click="search"
      />
    </template>
  </sui-search>

<h1> </h1>

<sui-table celled id="table">
    <sui-table-header>
      <sui-table-row>
        <sui-table-header-cell>No</sui-table-header-cell>
        <sui-table-header-cell>클럽병</sui-table-header-cell>
        <sui-table-header-cell>창설일</sui-table-header-cell>
        <sui-table-header-cell>회원수</sui-table-header-cell>
        <sui-table-header-cell>관리</sui-table-header-cell>

      </sui-table-row>
    </sui-table-header>


    <sui-table-body>
      <sui-table-row v-for="(club, index) in foundClubs" :key="index">
        <sui-table-cell>{{index + 1 }}</sui-table-cell>
        <sui-table-cell>{{club.name}}</sui-table-cell>
        <sui-table-cell>{{club.created}}</sui-table-cell>
        <sui-table-cell>{{club.memberCounts}}</sui-table-cell>
        <sui-table-cell>
            Cell
        </sui-table-cell>
    
    </sui-table-row>

    </sui-table-body>

    <sui-table-footer>
      <sui-table-row>
        <sui-table-header-cell colspan="5">
          <sui-menu v-sui-floated:right pagination>
            <a is="sui-menu-item" icon>
              <sui-icon name="left chevron" />
            </a>
            <a is="sui-menu-item">1</a>
            <a is="sui-menu-item">2</a>
            <a is="sui-menu-item">3</a>
            <a is="sui-menu-item">4</a>
            <a is="sui-menu-item" icon>
              <sui-icon name="right chevron" />
            </a>
          </sui-menu>
        </sui-table-header-cell>
      </sui-table-row>
    </sui-table-footer>
  </sui-table>


</div>


  
</template>

<script>
import { findClubs } from '../../api/ClubApi';

export default {
    name: "ClubListPage",
    data: function() {
        return {
            foundClubs: [],
            searchValue: ''
        }

    },
    mounted: async function() {
        const foundClubs = await findClubs();
        if(foundClubs && foundClubs > 0) {
            this.foundClubs = foundClubs;
        }

    },
    methods: {
        search: async function() {
            const searchValue = this.searchValue;
            if(this.searchValue && searchValue.length > 0){

                const results = this.foundClubs;
                const filteredResults = 
                results.filter(result => result.name.includes(searchValue));

                this.foundClubs = filteredResults;
            } else {
                    const foundClubs = await findClubs();
                    this.foundClubs = clubs;
            }

            
        }
    }
}
</script>

<!-- 검색할때 list에 filter사용 -->

<style>
#title{
    margin-left: 45%;
    /* margin: center; */
}
#searchbar{
    width: 50%;
    margin-left: 20%;
}
#table{
    margin-left:10%;
    margin-right:10%;
    width: 80%;
}
</style>