<template>
  <div>


<h1 color="olive"> Welcome to O'live Mall :) </h1>
  </div>

  
</template>

<script>

export default {
    name: 'DefaultPage',
   
    
}
</script>

<style>
/* #search{
  margin-left: 10%;
} */

</style>