<template>
<div id="login_form">
    <h1 is="sui-header">Login</h1>
    <sui-form>
        <sui-form-fields>
        <sui-form-field>
            <label>Email</label>
            <input type="text" placeholder="Username" v-model="email"/>
        </sui-form-field>
        </sui-form-fields>
        <sui-form-fields>
        <sui-form-field>
            <label>Password</label>
            <input type="password" placeholder="Password" v-model="password"/>
        </sui-form-field>
        </sui-form-fields>
    </sui-form>
    <sui-button primary type="button" color="olive" @click="onClickLoginBtn">Login</sui-button>
</div>
</template>

<script>
import { UserApi } from '~/api';
// import { User } from '~/model';

export default {
    name:"Login",
    data: function() {
        return {
            email:'',
            password:''
        }
    },
    methods: {
        onClickLoginBtn: async function() {
            //
            // let userList = [];
            let data = null;
            
            const email = this.email;
            const password = this.password;
            data = UserApi.findUser(email, password);

            // console.log(data);
            

            // const length = userList.length;
            if(data != null) {
                this.$session.set('loggedIn', this.email, this.password);
                this.$router
                .push('default')

                window.location.reload();
                
            }
        }
    }
}
</script>

<style>
    #login_form {
        margin-left: 30%;
        margin-right: 30%;
    }
</style>