<template>
<div>


<h4>{{user.email}}님의 회원정보수정</h4>

<div>
</div>
    <form class="ui form" id="fields">
    <div class="field">
        <label>Email</label>
        <input type="text" name="email" disabled v-model="user.email">

        <label>Password</label>
        <input type="text" name="password" v-model="user.password">

        <label>Phone Number</label>
        <input type="text" name="phoneNumber" v-model="user.phoneNumber" >

        <label>Address</label>
        <input type="text" name="address" v-model="user.address" >

        <label>Role</label>
        <!-- <input type="text" name="role" v-model="user.role" > -->
        <sui-dropdown
            placeholder="role"
            selection
            :options="options"
            v-model="current"
        />
    </div>  
    </form>


    <button class="ui button" olive type="submit"  @click="onClickModifyBtn">Modify</button>

    <button class="ui button" olive type="submit"  @click="onClickDeleteBtn">회원탈퇴</button>



 </div>
   

  <!-- <button class="ui button" type="submit" id="btn" @click="onClickRegisterBtn">Register</button> -->

</template>

<script>
import User from '../../model/User'
import UserApi from '../../api/UserApi'

export default {
    name: 'MyInfoPage',
    data: function() {
        return {
            user: new User(),
            current: null,
            options: [
              {
                text: 'member',
                value: 'member',
              },
              {
                text: 'seller',
                value: 'seller',
              },
            ],
        }
    },
    created: function() {
        this.findUserInfo();
    },
    methods: {
        findUserInfo: function() {
            let sessionEmail;
            sessionEmail = this.$session.get('loggedIn');
            UserApi.findOnlyEmail(sessionEmail).then(
                value => this.user = value
            );
            
        },

        onClickModifyBtn: function() {
            
            UserApi.modify(this.user).then(
                value => this.user = value
            );
            window.location.reload();
            // console.log(this.user);

        },

        onClickDeleteBtn: function() {
            UserApi.remove(this.user.email).then(
                value => this.user = value
            );
            this.$session.remove('loggedIn');
            this.$router.push('/login');

        }
    }

}
</script>

<style>

</style>