<template>
<div>
   <h1> "hi!! this is order page"</h1>

   <div class="ui secondary pointing menu">
  <a class="active item">
    Product
  </a>
  <a class="item">
    User
  </a>
  
  <form class="ui form" id="fields">
    <div class="field">
        <label>Email</label>
        <input type="text" name="email" disabled v-model="order.userEmail">

        <label>Password</label>
        <input type="text" name="password" v-model="user.password">

        <label>Phone Number</label>
        <input type="text" name="phoneNumber" v-model="user.phoneNumber" >

        <label>Address</label>
        <input type="text" name="address" v-model="user.address" >

        <label>Role</label>
        <input type="text" name="role" v-model="user.role" >
    </div>  
    </form>

  <div class="right menu">

  </div>
</div>
<div class="ui segment">
  <p></p>
</div>

</div>
  
</template>

// <script>
// import Product from '../../model/Product'
// import Order from '../../model/Order'

export default {
    name: 'OrderPage',
    data: function() {
        return {
            // product: new Product(),
            // order: new Order(),
            // user: new User(),
        }
    },
    methods: {
        getImage: function(img) {
          // console.log(img);
          return require(`~/assets/images/${img}`)
        },
    }
}
</script>

<style>

</style>