<template>
  <div>
    <h1 class="ui center olive"> 상품검색 </h1>

<div class="ui center aligned basic segment">
  <div class="ui left icon action input">
    <i class="search icon"></i>
    <input type="text" placeholder="search product name" name="productName" v-model="product.productName">
    <button class="ui submit button" type="submit" @click="onClickFindProductName">Search</button>
  </div>


<div v-if="product.productId != null">
  <h1></h1>
<h4 class="ui horizontal divider header" >
  <i class="tag icon"></i>
  Product Name
</h4>
<p>{{product.productName}}</p>
<div v-if="product.img != null">
  <img :src="getImage()">

</div>


<h4 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  Specifications
</h4>
  
 
<table class="ui definition table">
  <tbody>
    <tr>
       <td>상품설명</td>
       <td>{{product.detail}}</td>
    </tr>
    <tr>
      <td class="two wide column">상품번호</td>
      <td>{{product.productId}}</td>
    </tr>
    <tr>
      <td>가격</td>
      <td>{{product.price}} 원</td>
    </tr>
    <tr>
      <td>재고</td>
      <td>{{product.stock}}</td>
    </tr>
    <tr>
      <td>판매자</td>
      <td>{{product.seller}}</td>
    </tr>
    
  </tbody>
</table>
</div>

</div>

  </div>

  
</template>

<script>
import ProductApi from '../../api/ProductApi'
import Product from '../../model/Product';

export default {
    name: 'ProductPage',
    data: function() {
      return {
        product: new Product(),
      }
    },
    methods: {
      onClickFindProductName: function() {

        ProductApi.findProductByName(this.product.productName).then(
          value => this.product = value
        );
        
       
       console.log(this.product);

       
      },
      getImage: function() {
        console.log(this.product.img)
        return require(`~/assets/images/${this.product.img}`)

      }
    }
    
}
</script>

<style>
/* #search{
  margin-left: 10%;
} */

</style>