<template>
  <div>

 <!-- <h1 class="ui center olive"> 상품검색 </h1>

 <div class="ui center aligned basic segment">
  <div class="ui left icon action input">
    <i class="search icon"></i>
    <input type="text" placeholder="search product name" name="productName" v-model="product.productName">
    <button class="ui submit button" type="submit" @click="onClickFindProductName">Search</button>
  </div>
  </div> -->

<h2 class="ui center olive"> 모든 상품   </h2>


<div v-for="product in productList" :key="product.productId">
   <!-- content --> 
<td center>
  <tr center>
<div class="ui card" id="productCard" >
  <div class="image">
    <img :src="getImage(product.img)">
  </div>
  <div class="content">
    <a class="name">{{product.productName}}</a>
  <div class="price">
    <span class="price">{{product.price}}원</span>
  </div>

    <div class="meta">
      {{product.detail}}<br>
      판매자 : {{product.seller}}
    </div>
    <div class="stock">
      <i class="shop icon"></i>
      재고 : {{product.stock}} 
      </div>
    </div>

 

  <div class="extra content">
        <div class="ui input">
  <input type="text" v-if="product.stock > 0" placeholder="count" name="count" v-model="order.count">
</div>
    <a>
      <button class="ui submit button" 
      type="submit" @click="onClickOrder(product)"
      v-if="product.stock > 0"
      >
      구매</button>
      <button class="ui submit button meta"  
      type="submit"
      v-if="product.stock < 1"
      >
      품절</button>
  </a>


    
  </div>



</div>
</tr>
</td>

<h1></h1>

  <!--     list end     -->
</div>



</div>
</template>

<script>
import ProductApi from '../../api/ProductApi'
import Product from '../../model/Product'
import Order from '../../model/Order'
import OrderApi from '../../api/OrderApi'


export default {
    name: 'ProductListPage',
    data: function() {
      return {
        product: new Product(),
        productList: [],
        order: new Order(),
      }
    },
    created: function() {
      ProductApi.findProductList().then(
        value => this.productList = value
      );
    },
    methods: {
        getImage: function(img) {
          // console.log(img);
          return require(`~/assets/images/${img}`)
        },

        onClickOrder: async function(product){
          let userEmail;
          // let ret;
          userEmail = this.$session.get('loggedIn');

          this.order = new Order(userEmail, product.productId);

           OrderApi.registerOrder(this.order);
          this.$router.push('/order');

          // // this.product.stock = this.product.stock - 1;


        }

    } 

}
</script>

<style>

#productCart {
  margin-left: 10%;
  
}

</style>