<template>
<div>

<form class="ui form" id="fields">
  <div class="field">
    <label>Email</label>
    <input type="text" name="email" placeholder="input your email" v-model="user.email">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="text" name="password" placeholder="input your password" v-model="user.password">
  </div>
  <div class="field">
    <label>PhoneNumber</label>
    <input type="text" name="phoneNumber" placeholder="phone" v-model="user.phoneNumber">
  </div>
  <div class="field">
    <label>Address</label>
    <input type="text" name="address" placeholder="address" v-model="user.address">
  </div>
  <sui-dropdown
    placeholder="role"
    selection
    :options="options"
    v-model="current"
  />
   

  <button class="ui button" type="submit" id="btn" @click="onClickRegisterBtn">Register</button>
</form>

</div>
  
</template>

<script>
import User from '../../model/User'
import UserApi from '../../api/UserApi'

export default {
    name: 'RegisterPage',
    data: function() {
        return {
            user: new User(),
            current: null,
            options: [
              {
                text: 'member',
                value: 'member',
              },
              {
                text: 'seller',
                value: 'seller',
              },
            ],
        }
    },
    methods: {
        onClickRegisterBtn: async function() {
           let ret;
            ret = UserApi.registerUser(this.user);

            if(ret != null){
                this.$router.push('login')
            }

        }
    }
}

</script>

<style>
    #fields {
        margin-left: 30%;
        margin-right: 30%;
    }
    #bnt{
        background-color: olive;
    }

</style>