<template>
<div>
    <h1>REGISTER</h1>
<sui-form>
    <sui-form-fields>
        <div id="register">
      <sui-form-field>
        <label>Email</label>
        <input type="text" placeholder="email" v-model="email" />
      </sui-form-field>

      <sui-form-field>
        <label>Name</label>
        <input type="text" placeholder="name" v-model="name" />
      </sui-form-field>

    <sui-form-field>
        <label>NickName</label>
        <input type="text" placeholder="nickName" v-model="nickName" />
      </sui-form-field>


      <sui-form-field>
        <label>Password</label>
        <input type="text" placeholder="password" v-model="password" />
      </sui-form-field>

      <sui-form-field>
        <label>PhoneNumber</label>
        <input type="text" placeholder="phoneNumber" v-model="phoneNumber" />
      </sui-form-field>

      <sui-form-field>
        <label>BirthDay</label>
        <input type="text" placeholder="birthDay" v-model="birthDay" />
      </sui-form-field>
        </div>

    </sui-form-fields>
  </sui-form>
      <sui-button id="registerBtn" primary type="button" @click="onClickRegisterBtn">Register</sui-button>


  </div>
</template>

<script>
import {registerUser} from '../../api/UserApi';

export default {
    name: "registerUserPage",
    data: function() {
        return {
            email:'',
            name:'',
            nickName:'',
            password:'',
            phoneNumber:'',
            birthDay:''
        }
    },
    methods: {
        onClickRegisterBtn: async function() {
            
            let user = {};

            user.email = this.email;
            user.name = this.name;
            user.nickName = this.nickName;
            user.password = this.password;
            user.phoneNumber = this.phoneNumber;
            user.birthDay = this.birthDay;

            if(this.email.length>0){
                await registerUser(user);
                this.$router.push('default');

            }
            
            
            
        }
    }


}
</script>

<style>
#register{
    width: 50%;
    margin-left: 20%;
}
#registerBtn{
    width: 10%;
    margin-left: 20%;
}
</style>