<template>
<div id="table">

<!-- test -->
    <td center>
        <tr>
            <div v-for="(order, index) in orderList" :key="index">

                <div class="ui card" id="orderCard" >

                    <div class="content">
                        <span class="num">주문번호: {{order.orderNum}} <br></span>
                        <div class="order">
                            <a class="productId" @click="onClickProduct(order.productId)">상품번호: {{order.productId}} <br></a>
                            <span class="status">상태: {{order.status}}<br></span>
                            <span class="count">주문수량: {{order.count}}<br></span>
                            <span class="totalPrice">총 결제금액: {{order.totalPrice}}<br></span>
                            <span class="address">주소: {{order.address}}<br></span>
                            <span class="date">주문날짜: {{order.date}}<br></span>
                        </div>
                        <div v-if="product.productName != null">
                            <h4 class="ui horizontal divider header" >
  <i class="tag icon"></i>
  Product Name
                            </h4>
                            <p>{{product.productName}}</p>
                            <div v-if="product.img != null">
                                <img :src="getImage()">

                            </div>


                            <h4 class="ui horizontal divider header">
                            <i class="bar chart icon"></i>
                            Specifications
                            </h4>
 
                            <table class="ui definition table">
                            <tbody>
                                <tr>
                                <td>상품설명</td>
                                <td>{{product.detail}}</td>
                                </tr>
                                <tr>
                                <td class="two wide column">상품번호</td>
                                <td>{{product.productId}}</td>
                                </tr>
                                <tr>
                                <td>가격</td>
                                <td>{{product.price}} 원</td>
                                </tr>
                                <tr>
                                <td>재고</td>
                                <td>{{product.stock}}</td>
                                </tr>
                                <tr>
                                <td>판매자</td>
                                <td>{{product.seller}}</td>
                                </tr>
                                
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
    </td>
</div>  
</template>

<script>
import ProductApi from '../../api/ProductApi'
// import Product from '../../model/Product'
import Order from '../../model/Order'
import OrderApi from '../../api/OrderApi'
import Product from '../../model/Product'


export default {
    name: 'ShoppingList',
    data: function () {
        return {
            order: new Order(),
            orderList: [],
            product: new Product(),
        }
    },
    created: function() {
        let userEmail = this.$session.get('loggedIn');
        OrderApi.findOrderByEmail(userEmail).then(
            value => this.orderList = value
        );
        // let productId = this.productId;
        // console.log(productId);
        // ProductApi.findProduct(productId).then(
        //     value => this.productList = value
        // );
    },
    methods: {
        onClickProduct: async function (productId) {
            const product = await ProductApi.findProduct(productId);
            this.product = product;
            console.log(this.product);
        },
        getImage: function() {
        console.log(this.product.img)
        return require(`~/assets/images/${this.product.img}`)

      }
    }
}
</script>

<style>

#table {
    margin:0 auto
}

</style>