<template>
<div id="login_form">
    <h1 is="sui-header">Login</h1>
    <sui-form>
        <sui-form-fields>
        <sui-form-field>
            <label>Email</label>
            <input type="text" placeholder="Username" v-model="email"/>
        </sui-form-field>
        </sui-form-fields>
        <sui-form-fields>
        <sui-form-field>
            <label>Password</label>
            <input type="password" placeholder="Password" v-model="password"/>
        </sui-form-field>
        </sui-form-fields>
    </sui-form>
    <sui-button primary type="button" @click="onClickLoginBtn">Login</sui-button>

</div>
</template>

<script>
import { findUser } from '../api/UserApi';

export default {
    name:"Login",
    data: function() {
        return {
            email:'',
            password:''
        }
    },
    methods: {
        onClickLoginBtn: async function() {
            //
            let userList = [];
            
            const email = this.email;
            const password = this.password;
            // console.log(email);
            userList = await findUser(email, password);
            const length = userList.length;
            if(length > 0) {
                this.$session.set('loggedIn', email);
                // window.localStorage.setItem('loggedIn', email);
                this.$emit('onClickMenu', 'default');
                window.location.reload();
            }
        }
    }
}
</script>

<style>
    #login_form {
        margin-left: 30%;
        margin-right: 30%;
    }
</style>