<template>
<div>
   <sui-grid divided="vertically">
    <sui-grid-row :columns="16">
      <sui-grid-column :width="3">
			<h1 is="sui-header" color="olive" aria-setsize="20">O'live Mall</h1>
      </sui-grid-column>
			<sui-grid-column :width="10">
				<sui-menu secondary>
					<sui-menu-item 
					link name="Messages"
					@click="handleClickMenu('productList')"
					>
					상품몰
					</sui-menu-item>
					<sui-menu-item 
					link name="Messages"
					@click="handleClickMenu('product')"
					>
					상품검색
					</sui-menu-item>
					<sui-menu-item 
					v-if="!isLoggedIn"
					link name="Messages"
					@click="handleClickMenu('register')"
					>
					회원가입
					</sui-menu-item>
				</sui-menu>
      </sui-grid-column>
      <sui-grid-column :width="3">
        <sui-menu secondary>
					<sui-menu-item 
					v-if="isLoggedIn"
					link 
					name="Home"
					@click="handleClickMenu('bucket')"
					>
					장바구니
					</sui-menu-item>
					<sui-menu-item 
					v-if="isLoggedIn"
					link 
					name="Home"
					@click="handleClickMenu('myInfo')"
					>
					나의 정보
					</sui-menu-item>
					<sui-menu-item 
					v-if="!isLoggedIn"
					link 
					name="Messages"
					@click="handleClickMenu('login')"
					>
					로그인
					</sui-menu-item>
					<sui-menu-item 
					v-if="isLoggedIn"
					link 
					name="Messages"
					@click="handleClickMenu('logout')"
					>
					로그아웃
					</sui-menu-item>
				
				</sui-menu>
      </sui-grid-column>
    </sui-grid-row>
  </sui-grid>
	<sui-divider />
</div>
</template>

<script>

export default {
		name:"MainHeader",
		data: function() {
			return {
				// currentMenuName: 'club',
				currentMenuName: 'default',
				isLoggedIn: false
			}
		},

		mounted: function(){
            const loggedInEmail = this.$session.get('loggedIn');
            if(loggedInEmail && loggedInEmail.length > 0){
                this.isLoggedIn = true;
            }else{
                this.isLoggedIn = false;
            }
		}, 
		

		methods: {
			handleClickMenu: function(menuName) {
				//
				this.$emit('onClickMenu', menuName);

				let menu = '';
				switch(menuName) {
					case 'product':
						this.$router.push('/product');
						break;
					case 'productList':
						this.$router.push('/productList');
						break;
			
					case 'login':
						this.$router.push('/login');
						break;

					case 'bucket':
						this.$router.push('/bucket');
						break;

					case 'default':
						this.$router.push('/default');
						break;
					case 'register':
						this.$router.push('/register');
						break;
					case 'myInfo':
						this.$router.push('/myInfo');
						break;
					case 'logout':
						this.$session.remove('loggedIn');
						this.$router.push('/login');

						window.location.reload();
						
						break;
						
					default:
						throw new Error("Invalid Menu Name");
				}
				this.currentMenuName = menu;
			},
			
		},

}
</script>

<style>

</style>